body {
    background: #2196f3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f44336, #2196f3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f44336, #2196f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title-wrapper {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 0;
}

#title-wrapper > .title {
    font-family: "VT323";
    font-size: 3em;
    color: yellow;
}

.playerContainer {
    background-color: #282828;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

.computerContainer {
    background-color: #282828;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}
  
.playerContainer > .title {
    background-color: black;
    padding: 10px;
    font-family: "VT323";
    font-size: 2.5em;
    text-align: center;
    color: white;
    font-weight: bold;
}

.computerContainer > .title {
    background-color: black;
    padding: 10px;
    font-family: "VT323";
    font-size: 2.5em;
    text-align: center;
    color: white;
    font-weight: bold;
}
  
.content {
    padding: 10px;
    color: red;
}
  
#gameWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

#gameWrapper > div {
    margin-right: 3em;
}




button {
    height: 50px;
    width: 100px;
    margin-right: 2em;
    font-size: 1em
}



